{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>welcome</title>
	<link rel="stylesheet" href="{% static 'stock/css/bootstrap.min.css' %}">
	<script src="{% static 'stock/js/jquery.min.js' %}" charset="utf-8"></script>
	<script src="{% static 'stock/js/bootstrap.min.js' %}" charset="utf-8"></script>
</head>
<body>
<div class="container">
    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">ADD</button>
    <table class="table table-striped table-hover">
    <tr>
     <th>Stock name	</th>
     <th>Stock category</th>
     <th>Stock quantity	</th>
     <th>Stock purchase price	</th>
     <th>Stock selling price	</th>
     
    </tr>
   
    {% for stock_item in stock %}
     <tr>
    <td>{{stock_item.stock_name}}</td>
    <td>{{stock_item.stock_category}}</td>
    <td>{{stock_item.stock_quantity}} {{ stock_item.stock_unit}}</td>
    <td>{{stock_item.purchase_price}}</td>
    <td>{{stock_item.selling_price_per_unit}}</td>
    </tr>
    {% endfor %}
    
    	
    </table>
</div>


  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-body">
          <div class="panel panel-primary">
        <div class="panel-heading">
            <h5 class="text text-center">ADD STOCK ITEMS</h5>
        </div>
        <div class="panel-body">
            <form  action="{% url 'stockadd' %}" method="post">
			{% csrf_token %}
			<div class="row">
					<div class="col-lg-6">
						{{form.stock_name}}
					</div>
                    <div class="col-lg-6">
						{{form.stock_category}}
					</div>
			</div><br>
            <div class="row">
					<div class="col-lg-6">
						{{form.purchase_price}}
					</div>
                    <div class="col-lg-6">
						{{form.client_id}}
					</div>
			</div><br>
            <div class="row">
					<div class="col-lg-6">
						{{form.stock_quantity}}
					</div>
                    <div class="col-lg-6">
						{{form.stock_unit}}
					</div>
			</div><br>
			<div class="row">
		        <div class="col-lg-6">
			        {{form.selling_price_per_unit}}
		        </div>
                <div class="col-lg-6">
			        <button type="submit" name="button" class="form-control btn btn-success btn-sm btn-block">ADD</button>
                </div>
            </form>

        </div>


	</div>
        </div>

      </div>

    </div>
  </div>



</body>
</html>
